.border {
    border : 1px solid;
}
.w-80 {
    width : 80%;
}
.p-10 {
    padding : 10px;
}
.title {
    position: absolute;
    top: -10px;
    background: #fff;
}
.box-title {
    position: relative;
    margin: 10px 0;
}
#currentMedicationAddress {
    width : 100%;
}